@charset "UTF-8";
/* colores web dinamind */
*,
*::after,
*::before {
  box-sizing: border-box; }

html, body {
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Work Sans', sans-serif;
  color: #141417;
  background: #d0cfc5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h2, .menu__link {
  font-family: 'Work Sans', sans-serif; }

a {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .4s; }
  a:hover:focus {
    color: #F59401; }

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none; }

/* Icons */
.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor; }

svg {
  font-size: 2rem;
  fill: #F59401;
  position: fixed;
  top: 0;
  right: 12px;
  height: 100vh;
  width: 320px;
  z-index: 100; }

.icon--inline {
  display: inline-block;
  width: 1em;
  height: 100%;
  margin: 0 0.25em 0 0; }

/* Buttons */
.btn {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  color: inherit; }

.btn:focus {
  outline: none; }

.btn--trigger {
  margin: 1em;
  display: block;
  white-space: nowrap; }

.btn--default,
.btn--trigger::before {
  font-weight: bold;
  border: 2px solid;
  text-align: center;
  text-indent: 0;
  display: inline-block;
  line-height: 1.7; }

.btn--trigger::before {
  content: 'Press';
  width: 4em;
  height: 2em;
  margin: 0 0.75em; }

.btn--trigger:active::before {
  content: 'Ouch!'; }

.btn--default {
  padding: 0 1em;
  margin: 2vh 0 0; }

.btn--tool {
  display: block;
  margin: 1em 0;
  font-size: 1.3em;
  color: #8a7c78; }

.btn--menu {
  position: absolute;
  top: 3vw;
  right: 3vw;
  color: #F59401;
  pointer-events: visible;
  margin: 0.7rem; }

.btn--close {
  position: absolute;
  top: 3vw;
  right: 3vw;
  font-size: 0.75em;
  z-index: 100; }

/* Menu */
div {
  display: flex;
  align-items: flex-start;
  justify-content: center; }
  div .menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 320px;
    z-index: 100; }
  div .menu-logo {
    position: fixed;
    width: 320px;
    z-index: 0; }

.js .menu {
  pointer-events: none; }

.js .menu--open {
  pointer-events: visible; }

.menu .block-revealer__content {
  height: 100%;
  position: relative; }

.block-revealer__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  pointer-events: none;
  opacity: 0; }

.menu__inner {
  width: 100%;
  height: 100%;
  list-style-type: none;
  padding: 20vh 3em;
  margin: 0;
  background: #333333;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }

.menu__item {
  padding: 0.15em; }

.js .menu__item {
  transform: translate3d(-13em, 0, 0);
  transition: transform 0s 0.4s; }

.btn--close {
  opacity: 0;
  margin: 0.7rem; }

.menu--open .menu__item,
.menu--open .btn--close {
  color: #F59401;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.4s 0.135s, transform 0.4s 0.135s cubic-bezier(0.645, 0.045, 0.355, 1); }

.menu--open .menu__item:nth-child(2) {
  transition-delay: 0.195s; }

.menu--open .menu__item:nth-child(3) {
  transition-delay: 0.225s; }

.menu--open .menu__item:nth-child(4) {
  transition-delay: 0.255s; }

.menu--open .menu__item:nth-child(5) {
  transition-delay: 0.285s; }

.menu .menu__link {
  font-size: 1rem;
  color: #F3F3F3;
  margin-bottom: 5%; }

.menu .menu__link:hover,
.menu .menu__link:focus {
  outline: none;
  color: #F59401;
  text-decoration: underline; }

.media__toolbar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 2.15em;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-end; }

.js .btn--tool {
  opacity: 0;
  pointer-events: none;
  transform: translate3d(200%, 0, 0);
  transition: opacity 0.6s 0.28s, transform 0.6s 0.28s;
  transition-timing-function: ease, cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.js .btn--tool:nth-child(2) {
  transition-delay: 0.32s; }

.js .btn--tool:nth-child(3) {
  transition-delay: 0.34s; }

.media__toolbar--show .btn--tool {
  opacity: 1;
  pointer-events: visible;
  transform: translate3d(0, 0, 0); }

@media screen and (max-width: 62em) {
  .menu .menu__link {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly; } }

@font-face {
  font-family: CircularStd-black;
  src: url("../assets/fonts/CircularStd-Black.ttf"); }

body {
  background-color: #F3F3F3;
  font-family: 'Work Sans', sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  width: 0.75rem; }

::-webkit-scrollbar-thumb {
  background-color: #F59401;
  background-image: linear-gradient(315deg, #F59401 0%, #f5df2e 74%);
  border-radius: 0 0.938rem 0 0.938rem; }

/* Parallax */
.parallax-ingenieria {
  margin-top: 0;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/ingenieria-parallax.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.parallax-mantenimiento {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/mantenimiento-parallax.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.parallax-mantenimiento-frase {
  width: 100%;
  height: 60vh;
  padding-top: 5%;
  padding-bottom: 5%;
  background-image: url("../assets/img/mantenimiento.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.parallax-montajes {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/montajes-parallax.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

/* Navbar */
.navbar-dark.bg-dark {
  background-color: transparent !important;
  font-weight: 600;
  font-size: 1.125rem; }
  .navbar-dark.bg-dark .nav-link {
    color: #FFFFFF;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .4s; }
    .navbar-dark.bg-dark .nav-link:hover, .navbar-dark.bg-dark .nav-link:focus {
      color: #F59401;
      background-size: 100% 2px; }

/* Titulos & párrafos */
h1 {
  font-family: CircularStd-black;
  font-size: 7.5rem;
  line-height: 7.5rem; }

h2 {
  font-family: CircularStd-black;
  font-size: 3.563rem;
  line-height: 3.563rem; }

h3 {
  font-size: 1.25rem;
  font-weight: 400; }

h4 {
  font-size: 1.3rem;
  font-weight: 700; }

p {
  font-size: 1.125rem; }

span {
  font-weight: 500; }

a {
  color: #FFFFFF; }
  a:hover {
    color: #F59401; }

.white {
  color: #FFFFFF; }

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 1; }

/*  ICONOS BOOTSTRAP */
.redes-sociales {
  display: flex;
  justify-content: flex-start; }

.bi {
  margin-right: 0.938rem;
  font-size: 1.875rem;
  color: #FFFFFF !important; }
  .bi:hover {
    color: #F59401 !important; }

ul {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500; }
  ul li {
    display: inline-block;
    direction: row; }

svg:hover {
  color: #F59401; }

/* Section portada */
.titulo-principal {
  margin-top: 12%; }

.titulo-principal-montajes {
  margin-top: 7%; }

/* Titutlos verticales */
.titulos-verticales-grey {
  transform: rotate(270deg) translate(-880px, 0);
  color: #333333;
  display: flex;
  justify-content: flex-start;
  position: relative; }
  .titulos-verticales-grey h2 {
    font-family: CircularStd-black;
    font-size: 3.563rem;
    line-height: 3.563rem; }
  .titulos-verticales-grey .hr-grey {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 43.25rem;
    border: 0;
    border-top: 1px solid #333333; }

.titulos-verticales-ingenieria {
  transform: rotate(270deg) translate(-880px, 0);
  color: #333333;
  display: flex;
  justify-content: flex-start;
  position: relative; }
  .titulos-verticales-ingenieria h2 {
    font-family: CircularStd-black;
    font-size: 3.563rem;
    line-height: 3.563rem; }
  .titulos-verticales-ingenieria .hr-grey {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 43.25rem;
    border: 0;
    border-top: 1px solid #333333; }

.titulos-verticales-mantenimiento {
  transform: rotate(270deg) translate(-819px, 0);
  color: #333333;
  display: flex;
  justify-content: flex-start;
  position: relative; }
  .titulos-verticales-mantenimiento h2 {
    font-family: CircularStd-black;
    font-size: 3.563rem;
    line-height: 3.563rem; }
  .titulos-verticales-mantenimiento .hr-grey {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 43.25rem;
    border: 0;
    border-top: 1px solid #333333; }

/* Section descripcion */
.descripcion-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #333333;
  height: 100%; }
  .descripcion-section p {
    margin-bottom: 2rem; }

/* Section Servicios*/
.servicios-section {
  height: 100%;
  margin-top: 5%;
  margin-bottom: 5%; }
  .servicios-section .numeros {
    color: #F59401;
    font-size: 6.563rem;
    padding-bottom: 1rem; }
  .servicios-section .titulos-verticales-grey {
    transform: rotate(270deg) translate(-880px, 0);
    color: #333333;
    display: flex;
    justify-content: flex-start;
    position: relative; }
    .servicios-section .titulos-verticales-grey h2 {
      font-family: CircularStd-black;
      font-size: 3.563rem;
      line-height: 3.563rem; }
    .servicios-section .titulos-verticales-grey .hr-grey {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 62rem;
      border: 0;
      border-top: 1px solid #333333; }

.descripcion-mantenimiento-section {
  height: 500px;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center; }

/* Section contacto */
.contacto-section {
  height: 100%;
  background-color: #333333; }
  .contacto-section h2 {
    font-size: 2rem; }
  .contacto-section a {
    font-size: 2rem; }
  .contacto-section .bi {
    margin: 15px;
    font-size: 50px;
    color: #333333 !important;
    transform: translate(35px, -39px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2; }
    .contacto-section .bi:hover {
      color: #F59401 !important; }

/*footer*/
footer {
  background-color: #333333;
  padding-bottom: 5%; }
  footer .vertical-hr {
    padding-top: 2%;
    margin-bottom: 1rem;
    width: 90vw;
    border: 0;
    border-top: 1px solid #FFFFFF; }
  footer h5 {
    margin: 1rem; }

/* ANIMACIONES */
.animate__animated .animate__fadeInLeft {
  --animate-duration: 15s; }

.spin-animation {
  animation: spin 25s linear infinite; }

@keyframes spin {
  100% {
    transform: rotate(360deg); } }

/* BREAKPOINTS */
@media (min-width: 320px) and (max-width: 576px) {
  .titulo-principal {
    margin-top: 78%; }
    .titulo-principal h1 {
      font-size: 2.5rem;
      line-height: 2.5rem; }
  .titulo-principal-montajes {
    margin-top: 40%; }
    .titulo-principal-montajes h1 {
      font-size: 2.5rem;
      line-height: 2.5rem; }
  p {
    font-size: 1rem;
    line-height: normal; }
  h2 {
    font-size: 2rem;
    line-height: 2.2rem; }
  div .menu-logo {
    position: fixed;
    width: 85%;
    z-index: 100; }
  /* Section Servicios */
  .servicios-section {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%; }
    .servicios-section .numeros {
      color: #F59401;
      font-size: 5rem;
      padding-bottom: 2rem;
      padding-top: 2rem; }
  /* Section contacto */
  .contacto-section {
    height: 100%;
    background-color: #333333; }
    .contacto-section h2 {
      font-size: 1rem; }
    .contacto-section a {
      font-size: 1.5rem; }
    .contacto-section .bi {
      margin: 15px;
      font-size: 50px;
      color: #333333 !important;
      transform: translate(35px, -39px);
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2; }
      .contacto-section .bi:hover {
        color: #F59401 !important; }
    .contacto-section h5 {
      font-size: 0.5rem; }
  footer p {
    display: flex;
    justify-content: center;
    align-items: center; } }

@media (min-width: 577px) and (max-width: 767px) {
  .titulo-principal-montajes {
    margin-top: 15%; }
    .titulo-principal-montajes h1 {
      font-size: 2.5rem;
      line-height: 2.5rem; } }

@media (min-width: 768px) and (max-width: 991px) {
  h2 {
    font-size: 2rem;
    line-height: 2.2rem; }
  div .menu-logo {
    position: fixed;
    width: 86%;
    z-index: 100; }
  .titulo-principal {
    margin-top: 45%; }
    .titulo-principal h1 {
      font-size: 3.5rem;
      line-height: 3.5rem; }
  .titulo-principal-montajes {
    margin-top: 78%; }
    .titulo-principal-montajes h1 {
      font-size: 2.5rem;
      line-height: 2.5rem; }
  /* Section Servicios */
  .servicios-section {
    height: 100%;
    padding-top: 5%;
    padding-bottom: 5%; }
    .servicios-section .numeros {
      color: #F59401;
      font-size: 5rem;
      padding-bottom: 2rem;
      padding-top: 2rem; }
  /*Footer*/
  footer p {
    display: flex;
    justify-content: flex-start;
    align-items: center; } }

@media (min-width: 992px) and (max-width: 1399px) {
  /*pagina servicios ingenieria */
  .titulo-principal {
    margin-top: 5%; }
    .titulo-principal h1 {
      font-size: 3.5rem;
      line-height: 3.5rem; }
  .titulo-principal-montajes {
    margin-top: 5%; }
    .titulo-principal-montajes h1 {
      font-size: 3.5rem;
      line-height: 3.5rem; }
  /* Section Servicios*/
  .servicios-section {
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%; }
    .servicios-section .numeros {
      color: #F59401;
      font-size: 6.563rem;
      padding-bottom: 1rem; }
    .servicios-section .titulos-verticales-grey {
      transform: rotate(270deg) translate(-790px, 0);
      color: #333333;
      display: flex;
      justify-content: flex-start;
      position: relative; }
      .servicios-section .titulos-verticales-grey h2 {
        font-family: CircularStd-black;
        font-size: 3.563rem;
        line-height: 3.563rem; }
      .servicios-section .titulos-verticales-grey .hr-grey {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 55rem;
        border: 0;
        border-top: 1px solid #333333; }
    .servicios-section .titulos-verticales-ingenieria {
      transform: rotate(270deg) translate(-740px, 0);
      color: #333333;
      display: flex;
      justify-content: flex-start;
      position: relative; }
      .servicios-section .titulos-verticales-ingenieria h2 {
        font-family: CircularStd-black;
        font-size: 3.563rem;
        line-height: 3.563rem; }
      .servicios-section .titulos-verticales-ingenieria .hr-grey {
        margin-top: 1rem;
        margin-bottom: 1rem;
        width: 55rem;
        border: 0;
        border-top: 1px solid #333333; }
  /*pagina servicios mantenimiento */
  .parallax-mantenimiento-frase h2 {
    padding-top: 5%;
    padding-bottom: 5%; } }

@media (min-width: 1400px) {
  /* Titutlos verticales */
  .titulos-verticales-grey {
    transform: rotate(270deg) translate(-880px, 0);
    color: #333333;
    display: flex;
    justify-content: flex-start;
    position: relative; }
    .titulos-verticales-grey h2 {
      font-family: CircularStd-black;
      font-size: 3.563rem;
      line-height: 3.563rem; }
    .titulos-verticales-grey .hr-grey {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 43.25rem;
      border: 0;
      border-top: 1px solid #333333; }
  .titulos-verticales-ingenieria {
    transform: rotate(270deg) translate(-700px, 0);
    color: #333333;
    display: flex;
    justify-content: flex-start;
    position: relative; }
    .titulos-verticales-ingenieria h2 {
      font-family: CircularStd-black;
      font-size: 3.563rem;
      line-height: 3.563rem; }
    .titulos-verticales-ingenieria .hr-grey {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 52.25rem;
      border: 0;
      border-top: 1px solid #333333; }
  .titulos-verticales-mantenimiento {
    transform: rotate(270deg) translate(-680px, 0);
    color: #333333;
    display: flex;
    justify-content: flex-start;
    position: relative; }
    .titulos-verticales-mantenimiento h2 {
      font-family: CircularStd-black;
      font-size: 3.563rem;
      line-height: 3.563rem; }
    .titulos-verticales-mantenimiento .hr-grey {
      margin-top: 1rem;
      margin-bottom: 1rem;
      width: 52rem;
      border: 0;
      border-top: 1px solid #333333; } }
